.give-other-widget{
  .widget-icon{
    mask-image: url('img/vvod-dannih-knigovidacha.svg');
  }
  .progress-caption{
    padding-left: 15px;
    .value-inline{
      min-width: 20px;
      text-align: center;
    }
  }

}